<main>
<h1 class = "top-title">
  ようこそ
  <strong>Bookers</strong>
  へ！
</h1>

<p class = "top1">
  <strong>Bookers</strong>
  では、様々な書籍に関するあなたの意見や
</p>
<p class = "top2">印象を共有し交換することが出来ます</p>

<%= link_to "start", "/books" %>
</main>